.container .main-toolbar .spacer {
    flex: 1 1 auto;
}

.container .main-toolbar .toolbar-btn {
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
}

.container .content .logo {
    margin: 2.5rem;
    text-align: center;
    font-size: 24px;
    color: #3f51b5;
}

.container .content .logo .mat-icon {
    height: 160px !important;
    width: 160px !important;
    font-size: 160px !important;
}



.media-footer {
    position: fixed !important;
    width: inherit;
    left: 0;
    bottom: 0;
}

.content {
    padding-bottom: 95px;
}

.slidebar {
    min-width: 70%;
    margin: auto;
}

.ctrls {
    display: flex;
    justify-content: space-around;
}

.songs:hover {
    cursor: pointer;
    background: #3f51b5;
    padding: .5rem;
    color: #fff;
    border-radius: 8px;
}

.fa-search:hover {
    cursor: pointer;
    background: #000;
    color: #fff;
    padding: .3rem;
}

.hidden {
    display: none;
}

@media screen and (max-width: 414px) {
    .slidebar {
        min-width: 50%;
    }
}