<div class="container pt-2">
    <div class="row">
        <div class="col-md-12">
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title class="text-light" style="position: relative; top: 2rem;">Davido</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <img class="border-rounded" mat-card-md-image src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Gentleman-Video-Shoot-January-2014-BellaNaija-027-402x600.jpg">
                        </mat-card-content>
                        <mat-card-footer></mat-card-footer>
                    </mat-card>
                </mat-grid-tile>
                
                <mat-grid-tile>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title class="text-light" style="position: relative; top: 2rem;">Davido</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <img class="border-rounded" mat-card-md-image src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Gentleman-Video-Shoot-January-2014-BellaNaija-027-402x600.jpg">
                        </mat-card-content>
                        <mat-card-footer></mat-card-footer>
                    </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title class="text-light" style="position: relative; top: 2rem;">Davido</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <img class="border-rounded" mat-card-md-image src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Gentleman-Video-Shoot-January-2014-BellaNaija-027-402x600.jpg">
                        </mat-card-content>
                        <mat-card-footer></mat-card-footer>
                    </mat-card>
                </mat-grid-tile>
                
            </mat-grid-list>
        </div>
    </div>
</div>
