mat-form-field {
    min-width: 100%;
}

mat-form-field input {
    min-width: 100%;
    /* margin: .5rem auto; */
    padding: .5rem;
}

.file-input {
    min-width: 100% !important;
    padding: .5rem;
    background-color: rgba(0,0,0,.04);
}